* {
	margin:0;
	padding:0;
}

html {
	box-sizing:border-box;
	background-color:rgb(125,198,34);
}

*, *:before, *:after {
	box-sizing:inherit;
}

#container {
	margin:0.25em;
	text-align:center;
}

h2 {
	font-family:'Londrina Outline', cursive;
	font-size:3em;
	letter-spacing:0.0625em;
	color:rgb(255,255,255);
}

h3 {
	padding-top:0.5em;
	font-size:2em;
	color:rgba(255,255,255,0.5);
}
